<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>green</key>
	<dict>
		<key>min-time</key>
		<integer>1</integer>
		<key>max-time</key>
		<integer>2</integer>
		<key>time-string</key>
		<string>1-2m</string>
		<key>temperature-f</key>
		<string>176°F</string>
		<key>temperature-c</key>
		<string>80°C</string>
		<key>color</key>
		<dict>
			<key>red</key>
			<integer>49</integer>
			<key>green</key>
			<integer>101</integer>
			<key>blue</key>
			<integer>27</integer>
		</dict>
	</dict>
	<key>white</key>
	<dict>
		<key>min-time</key>
		<integer>1</integer>
		<key>max-time</key>
		<integer>2</integer>
		<key>time-string</key>
		<string>1-2m</string>
		<key>temperature-f</key>
		<string>160°F</string>
		<key>temperature-c</key>
		<string>70°C</string>
		<key>color</key>
		<dict>
			<key>red</key>
			<integer>63</integer>
			<key>green</key>
			<integer>107</integer>
			<key>blue</key>
			<integer>128</integer>
		</dict>
	</dict>
	<key>black</key>
	<dict>
		<key>min-time</key>
		<integer>2</integer>
		<key>max-time</key>
		<integer>3</integer>
		<key>time-string</key>
		<string>2-3m</string>
		<key>temperature-f</key>
		<string>210°F</string>
		<key>temperature-c</key>
		<string>99°C</string>
		<key>color</key>
		<dict>
			<key>red</key>
			<integer>109</integer>
			<key>green</key>
			<integer>54</integer>
			<key>blue</key>
			<integer>29</integer>
		</dict>
	</dict>
	<key>herbal</key>
	<dict>
		<key>min-time</key>
		<integer>3</integer>
		<key>max-time</key>
		<integer>6</integer>
		<key>time-string</key>
		<string>3-6m</string>
		<key>temperature-f</key>
		<string>210°F</string>
		<key>temperature-c</key>
		<string>99°C</string>
		<key>color</key>
		<dict>
			<key>red</key>
			<integer>191</integer>
			<key>green</key>
			<integer>70</integer>
			<key>blue</key>
			<integer>70</integer>
		</dict>
	</dict>
	<key>oolong</key>
	<dict>
		<key>min-time</key>
		<integer>2</integer>
		<key>max-time</key>
		<integer>3</integer>
		<key>time-string</key>
		<string>2-3m</string>
		<key>temperature-f</key>
		<string>185°F</string>
		<key>temperature-c</key>
		<string>85°C</string>
		<key>color</key>
		<dict>
			<key>red</key>
			<integer>189</integer>
			<key>green</key>
			<integer>108</integer>
			<key>blue</key>
			<integer>21</integer>
		</dict>
	</dict>
	<key>yellow</key>
	<dict>
		<key>min-time</key>
		<integer>1</integer>
		<key>max-time</key>
		<integer>2</integer>
		<key>time-string</key>
		<string>1-2m</string>
		<key>temperature-f</key>
		<string>170°F</string>
		<key>temperature-c</key>
		<string>75°C</string>
		<key>color</key>
		<dict>
			<key>red</key>
			<integer>170</integer>
			<key>green</key>
			<integer>176</integer>
			<key>blue</key>
			<integer>11</integer>
		</dict>
	</dict>
</dict>
</plist>
