<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>お茶は、通常、三分の一半分に同じくらいカフェインコーヒーなどが含まれています</string>
	<string>緩い葉、親指の良いルールと醸造には、醸造している水のすべてのカップのために1山盛り小さじあるとき。あなたは、水のすべてのカップ用ティーバッグ一袋を使用している場合。</string>
	<string>あなたが緩んで葉で淹れる場合は設定が完了したら、それらを捨てない。彼らは良い肥料のために作る。</string>
	<string>緑茶は低血圧を助け、心臓病や脳卒中のリスクを低減することができ、高レベルのポリフェノールを含有する。</string>
	<string>味については、湧水で醸造が理想的です。あなたは水道水を使用する必要がある場合は、物事をスピードアップするために蛇口からお湯を使用しないでください。あなたの給湯器からの追加の不純物は自分の道をインチ見つけることができます</string>
	<string>これは、カットまたはみじん切りされた茶葉が速く、全体の葉よりも自分の味を解放することを覚えておくことが重要です。</string>
	<string>お茶の発見は中国の皇帝によって2737年紀元前に発生したことを一つの伝説の主張。</string>
	<string>祭司たちは起きているし、瞑想する、お茶を飲んだので、お茶は、多くの場合、日本での禅仏教に関連付けられています。</string>
	<string>注入器とルーズリーフ醸造はティーバッグで醸造することが好ましい。それは新鮮な味だろう、それははるかに無駄だ。</string>
	<string>あなたはそれを調理することができます。茶は、汎用性の高い成分として最近の料理界に登場している。唐辛子に茶葉を挽く、マリネやそれに柔らかくしたり、独自の実装と実験。</string>
	<string>リチャードBlechyndenは、1904年に販売を後押しする試みで熱いお茶のコップに氷を落とした。結果は、最初のアイスティーだった。</string>
	<string>袋に入れられたお茶は、ニューヨーク·エリアのレストランへの個々の袋に茶のトーマス·サリバンのサンプル出荷で1908年に事故によって形成された。</string>
	<string>12月16日、1773年、インディアンを装ったいくつかの60憤慨入植、、のバンドは関税を抗議するためにボストンハーバーにお茶の数百ポンドを投げた。</string>
	<string>お茶は、L-テアニンが含まれており、その消費量が強く、ヒトで穏やかですが、アラートと焦点を絞った精神状態に関連付けられています。</string>
	<string>緑茶の消費量はこのような&apos;脳卒中、認知機能障害、骨粗しょう症&apos;高齢者などの機能障害を引き起こす疾患のリスクが低いに関連付けられています。</string>
	<string>茶フラビノイド、アミノ酸、ビタミン、カフェイン、いくつかの多糖類、そして健康への影響の様々な提案·検討されているなど、潜在的に生理活性化学物質が多数含まれています。</string>
	<string>研究では、口腔、膵臓、膀胱、皮膚、肺、結腸、乳房、肝臓癌、その他に対する緑茶の重要な保護効果を示唆している。</string>
	<string>お茶は水の後に地球上で二番目に消費される飲料であるが、多くの文化で、それはまた、アフタヌーンティーやティーパーティーとして高い社会的なイベント、で消費されています。</string>
	<string>アイルランドでは、長い間、世界のお茶の最大の一人当たりの消費者の一つとなっている。全国平均は、多くの人々が6杯以上を飲んで、一人一日4杯です。</string>
	<string>米国およびカナダでは、お茶の80％はアイスティーとして、寒い消費されています。甘いお茶は、アメリカ南部の文化的シンボルであり、国のその部分では一般的です。</string>
	<string>スイスは、紅茶、砂糖、レモン汁、ミントのような基本的な食材を使ったアイスティーの独自のユニークなブレンドを持っていますが、アルプスのハーブの様にも調合に追加されます。</string>
	<string>紅茶の活性物質の多くは、90℃より低い温度で発症しない</string>
	<string>欧州心臓学会で発表さ2007年の調査では、お茶の特定の有益な効果は、牛乳を添加することによって失われることがありますが見つかりました。</string>
</array>
</plist>
