<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>茶通常包含一个三分之一到一半尽可能多的咖啡因咖啡。</string>
	<string>当酝酿松动，叶片，一个好的经验法则是1堆积茶匙每杯的水，你酝酿。如果你使用的茶叶袋，一包为每一杯水。</string>
	<string>如果冲泡散叶，不把他们离开时，你就大功告成了。他们很好的肥料。</string>
	<string>绿茶中含有高浓度的多酚类物质，它可以帮助降低血压，减少心脏疾病和中风的风险。</string>
	<string>味，酝酿泉水是理想的。如果您必须使用自来水，不要用太热的水从水龙头加快速度。您的热水器的其他杂质都能找到适合自己的方式。</string>
	<string>重要的是要记住，已切开或切碎的茶叶会释放出其风味的速度比整个叶。</string>
	<string>一个传说声称，茶的发现发生在公元前2737年，中国的皇帝。</string>
	<string>茶往往是与日本禅宗，因为牧师喝茶来保持清醒和冥想。</string>
	<string>松散的叶酝酿与输液是最好茶包冲泡。它会尝新鲜，它远不如浪费。</string>
	<string>你可以用它做饭。茶最近在烹饪界已经出现作为多才多艺的成分。茶叶研磨成辣椒，腌或嫩，或尝试用自己的实现。</string>
	<string>1904年，理查德Blechynden下跌冰杯热茶，企图以促进销售。其结果是第一冰茶。</string>
	<string>袋装茶是由意外，在1908年由托马斯·沙利文航运样品的个别袋茶在纽约地区的餐厅。</string>
	<string>于1773年12月16日，约60愤怒的殖民者，化装成印第安人，带扔数百磅的茶叶倒入波士顿港，抗议关税。</string>
	<string>茶叶中含有的L-茶氨酸，其消费与平静，但警觉，并集中在人类的精神状态密切相关。</string>
	<string>饮用绿茶是与风险较低，导致功能障碍的疾病，如中风，中老年人的认知功能障碍，骨质疏松症“。</string>
	<string>茶叶中含有大量的潜在的生物活性的化学物质，包括黄酮类，氨基酸，维生素，咖啡因和一些多糖，和对健康的影响，已经提出并研究了各种。</string>
	<string>研究表明绿茶对口腔癌，胰腺癌，膀胱癌，皮肤，肺，结肠，乳腺，肝肿瘤，多显着的保护作用。</string>
	<string>虽然茶是第二个最消耗的饮料后，地球上的水，在许多文化中，它也被消耗在高温的社会事件，如下午茶和茶话会。</string>
	<string>很长一段时间，爱尔兰，最大的世界人均消费茶叶之一。全国平均每人每天四杯，很多人喝6杯以上。</string>
	<string>在美国和加拿大，80％的茶叶消费冷，冰茶。甜茶，美国的南部，是一种文化的象征，是常见的，部分国家。</string>
	<string>瑞士都有自己的独特的冰茶，红茶，糖，柠檬汁和薄荷的基本成分，如，但也加入到各种各样的阿尔卑斯草药药汁。</string>
	<string>许多红茶中的活性物质不开发在温度低于90℃。</string>
	<string>欧洲心脏杂志“发表在2007年的一项研究发现，茶可能会丢失某些有益的影响，通过增加牛奶。</string>
</array>
</plist>
