<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Tea usually contains one third to one half as much caffeine as coffee.</string>
	<string>When brewing with loose leaves, a good rule of thumb is one heaping teaspoon for every cup of water you’re brewing. If you’re using tea bags, one bag for every cup of water.</string>
	<string>If you brew with loose leaves, don’t throw them away when you’re done. They make for good fertilizer.</string>
	<string>Green tea contains high levels of polyphenols, which can help lower blood pressure and reduce risks of heart disease and strokes.</string>
	<string>For flavor, brewing with spring water is ideal. If you must use tap water, don’t use hot water from the tap to speed things up. Additional impurities from your water heater can find their way in.</string>
	<string>It’s important to remember that tea leaves that have been cut or chopped will release their flavor faster than whole leaves.</string>
	<string>One legend claims that the discovery of tea occurred in 2737 BC by the Emperor of China.</string>
	<string>Tea is often associated with Zen Buddhism in Japan because priests drank tea to stay awake and meditate.</string>
	<string>Loose-leaf brewing with an infuser is preferable to brewing with tea bags. It’ll taste fresher, and it’s far less wasteful.</string>
	<string>You can cook with it. Teas have appeared in culinary circles lately as a versatile ingredient. Grind tea leaves into pepper, marinate or tenderize with it, or experiment with your own implementations.</string>
	<string>In 1904, Richard Blechynden dropped ice in the cups of hot tea in an attempt to boost sales. The result was the first iced tea.</string>
	<string>Bagged tea was formed by accident in 1908 by Thomas Sullivan shipping samples of tea in individual bags to New York area restaurants.</string>
	<string>On December 16, 1773, a band of some sixty outraged colonists, disguised as Indians,  tossed hundreds of pounds of tea into Boston Harbor to protest tariffs.</string>
	<string>Tea contains L-theanine, and its consumption is strongly associated with a calm but alert and focused mental state in humans.</string>
	<string>Consumption of green tea is associated with a lower risk of diseases that cause functional disability, such as &apos;stroke, cognitive impairment, and osteoporosis&apos; in the elderly.</string>
	<string>Tea contains a large number of potentially bioactive chemicals, including flavinoids, amino acids, vitamins, caffeine and several polysaccharides, and a variety of health effects have been proposed and investigated.</string>
	<string>Studies suggest significant protective effects of green tea against oral, pancreatic, bladder, skin, lung, colon, breast, and liver cancers, and more.</string>
	<string>While tea is the second most consumed beverage on Earth after water, in many cultures it is also consumed at elevated social events, such as afternoon tea and the tea party.</string>
	<string>Ireland has, for a long time, been one of the biggest per-capita consumers of tea in the world. The national average is four cups per person per day, with many people drinking six cups or more.</string>
	<string>In the United States and Canada, 80% of tea is consumed cold, as iced tea.  Sweet tea is a cultural symbol of the southern US, and is common in that portion of the country.</string>
	<string>Switzerland has its own unique blend of iced tea, made with the basic ingredients like black tea, sugar, lemon juice and mint, but a variety of Alp herbs are also added to the concoction.</string>
	<string>Many of the active substances in black tea do not develop at temperatures lower than 194°F (90°C).</string>
	<string>A 2007 study published in the European Heart Journal found certain beneficial effects of tea may be lost through the addition of milk.</string>
</array>
</plist>
